@import '~antd/lib/style/themes/default.less';

.nav{
  height: 100vh;
}

.nav__logo {
  margin: 1em;
}

.nav__branding {
  margin: 0 auto;
  font-size: 1em;
  font-weight: 900;
  color: @heading-color;
}

.nav__branding-img {
  display: inline-block;
}
